<% include head %>
<h1><%= svcDoc.Name %> - service documentation</h1>
<hr />
<% svcDoc.Endpoints.forEach(function(ep) { %>
<div class="ep-block"><span class="ep-title"><%= ep.Name %></span> - <%= ep.Description %></div>

<% }); %>
